name: "technology_config"
description: "This hybrid plant produces methanol"

technologies:
  wind:
    performance_model:
      model: "PYSAMWindPlantPerformanceModel"
    cost_model:
      model: "ATBWindPlantCostModel"
    model_inputs:
      performance_parameters:
        num_turbines: 29
        turbine_rating_kw: 6000
        rotor_diameter: 100.
        hub_height: 115.
        create_model_from: "default"
        config_name: "WindPowerSingleOwner"
        run_recalculate_power_curve: True
        layout:
          layout_mode: "basicgrid"
          layout_options:
            row_D_spacing: 7.0
            turbine_D_spacing: 7.0
            rotation_angle_deg: 0.0
            row_phase_offset: 0.0
            layout_shape: "square"
      cost_parameters:
        capex_per_kW: 1380.0
        opex_per_kW_per_year: 29.0
        cost_year: 2019
  solar:
    performance_model:
      model: "PYSAMSolarPlantPerformanceModel"
    cost_model:
      model: "ATBResComPVCostModel"
    model_inputs:
      shared_parameters:
        pv_capacity_kWdc: 350000 #350 MWdc
      performance_parameters:
        dc_ac_ratio: 1.3
        create_model_from: "default"
        config_name: "PVWattsSingleOwner"
        tilt_angle_func: "lat-func"
      cost_parameters:
        capex_per_kWdc: 1323
        opex_per_kWdc_per_year: 18
        cost_year: 2019
  combiner:
    performance_model:
      model: "GenericCombinerPerformanceModel"
    model_inputs:
      performance_parameters:
        commodity: "electricity"
        commodity_units: "kW"
  electrolyzer:
    performance_model:
      model: "ECOElectrolyzerPerformanceModel"
    cost_model:
      model: "SingliticoCostModel"
    model_inputs:
      shared_parameters:
        location: "onshore"
        electrolyzer_capex: 1295 # $/kW overnight installed capital costs for a 1 MW system in 2022 USD/kW (DOE hydrogen program record 24005	Clean Hydrogen Production Cost Scenarios with PEM Electrolyzer Technology 05/20/24) (https://www.hydrogen.energy.gov/docs/hydrogenprogramlibraries/pdfs/24005-clean-hydrogen-production-cost-pem-electrolyzer.pdf?sfvrsn=8cb10889_1)
      performance_parameters:
        size_mode: "normal"
        n_clusters: 4
        cluster_rating_MW: 39
        eol_eff_percent_loss: 10 #eol defined as x% change in efficiency from bol
        uptime_hours_until_eol: 80000 #number of 'on' hours until electrolyzer reaches eol
        include_degradation_penalty: True #include degradation
        turndown_ratio: 0.1 #turndown_ratio = minimum_cluster_power/cluster_rating_MW
      financial_parameters:
        capital_items:
          depr_period: 7 # based on PEM Electrolysis H2A Production Case Study Documentation estimate of 7 years. also see https://www.irs.gov/publications/p946#en_US_2020_publink1000107507
          replacement_cost_percent: 0.15 # percent of capex - H2A default case
  methanol:
    performance_model:
      model: "CO2HMethanolPlantPerformanceModel"
    cost_model:
      model: "CO2HMethanolPlantCostModel"
    finance_model:
      model: "CO2HMethanolPlantFinanceModel"
    model_inputs:
      shared_parameters:
        plant_capacity_kgpy: 127893196.8
        plant_capacity_flow: "methanol"
      performance_parameters:
        capacity_factor: 0.9
        co2e_emit_ratio: 0.020296
        h2o_consume_ratio: 0.988
        h2_consume_ratio: 0.195
        co2_consume_ratio: 1.423
        elec_consume_ratio: 0.09466667
        meoh_syn_cat_consume_ratio: 0.00000128398
        ng_consume_ratio: 0.073511601
      cost_parameters:
        ng_lhv: 47.1
        toc_kg_y: 1.0633873
        foc_kg_y2: 0.020743864
        voc_kg: 0.00079
        meoh_syn_cat_price: 615.274273
        ng_price: 4.0
        co2_price: 0.0549007
        cost_year: 2020
      finance_parameters:
        # Sources in NETL-PUB-22580: Exhibit 3-5 and Exhibit 3-7
        tasc_toc_multiplier: 1.093
        fixed_charge_rate: 0.0707
